<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-bala-blue fixed-top">
      <div class="container-fluid">
      <%= render :partial => 'shared/menu_button' %>
      <a class="navbar-brand auto-center" href="#">Register</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          </ul>
      </div>
      </div>
  </nav>
  <div class="container position-fixed">
    <p class="notice"><%= notice %></p>
    <p><%= alert %></p>
        <div class="d-flex ">
            <div class="w-100 mt-3">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
            
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-100 py-1" %>
              </div>
            
              <div class="field">
                  <%= f.text_field :name, autofocus: true, required: true, autocomplete: "name", class:"form-title", class: "w-100 mt-3 py-1", placeholder:"Full name" %>
                </div>
            
              <div class="field">
                <%= f.password_field :password, autocomplete: "new-password", class: "w-100 mt-3 py-1", placeholder:"password" %>
              </div>
            
              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100 mt-3 py-1", placeholder:"confirm password" %>
              </div>
            
              <div class="actions">
                <%= f.submit "Register", class: "w-100 btn btn-md btn-primary mt-3 mb-3"%>
              </div>
            <% end %>  
            </div>
        </div>
      </div>
  </div>
</div>
